<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="palette" name="palette" schema="schema/palette.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.sogeti.rental.ui.rentalcategory"
            class="com.sogeti.rental.ui.views.RentalView"
            id="com.sogeti.rental.ui.rentalview"
            name="%view.name"
            restorable="true">
      </view>
      <view
            category="com.sogeti.rental.ui.rentalcategory"
            class="com.sogeti.rental.ui.views.RentalTreeView"
            id="com.sogeti.rental.ui.rentaltreeview"
            name="%view.name.0"
            restorable="true">
      </view>
      <category
            id="com.sogeti.rental.ui.rentalcategory"
            name="%category.name">
      </category>
      <view
            category="com.sogeti.rental.ui.rentalcategory"
            class="com.sogeti.rental.ui.views.CustomerView"
            id="com.sogeti.rental.ui.customerview"
            name="CustomerView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sogeti.rental.ui.views.RentalPerspective"
            icon="icons/Agency.png"
            id="com.sogeti.rental.ui.RentalPerspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sogeti.rental.ui.preferences.RentalPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.sogeti.rental.ui.preferences.RentalPreferencesPage"
            id="com.sogeti.rental.ui.rentalpreferencespage"
            name="%page.name">
      </page>
      <page
            class="com.sogeti.rental.ui.preferences.PalettePreferencesPage"
            id="com.sogeti.rental.ui.palettepreferencespage"
            name="PalettePreferencesPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.sogeti.rental.ui.helloworld"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sogeti.rental.ui.handlers.HelloWorldHandler"
            commandId="com.sogeti.rental.ui.helloworld">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <command
               commandId="com.sogeti.rental.ui.helloworld"
               label="%command.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="com.sogeti.rental.ui.helloworld"
               label="%command.label.0"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.sogeti.rental.ui.rentaltreeview?after=additions">
         <command
               commandId="com.sogeti.rental.ui.helloworld"
               label="%command.label.1"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.sogeti.rental.ui.rentaltreeview?after=additions">
         <command
               commandId="com.sogeti.rental.ui.helloworld"
               icon="icons/Agency.png"
               label="%command.label.2"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.views.ResouceNavigator?after=additions">
         <command
               commandId="com.sogeti.rental.ui.helloworld"
               icon="icons/Agency.png"
               label="%command.label.3"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.views.ResouceNavigator?after=additions">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.sogeti.rental.ui.rentaltreeview?after=additions">
         <command
               commandId="com.sogeti.rental.ui.helloworld"
               label="%command.label.4"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.sogeti.rental.ui.rentaltreeview?after=additions">
      </menuContribution>
   </extension>
   <extension
         point="com.sogeti.rental.ui.palette">
      <palette
            id="com.sogeti.rental.ui.palettedefault"
            name="DefaultPalette"
            paletteClass="com.sogeti.rental.ui.palette.DefaultPalette">
      </palette>
      <palette
            id="com.sogeti.rental.ui.paletteRed"
            name="RedPalette"
            paletteClass="com.sogeti.rental.ui.palette.RedPalette">
      </palette>
   </extension>

</plugin>
