<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.sogeti.rental.ui.rentalcategory"
            class="com.sogeti.rental.ui.RentalView"
            id="com.sogeti.rental.ui.rentalview"
            name="RentalView"
            restorable="true">
      </view>
      <view
            category="com.sogeti.rental.ui.rentalcategory"
            class="com.sogeti.rental.ui.RentalTreeView"
            id="com.sogeti.rental.ui.rentaltreeview"
            name="RentalTreeView"
            restorable="true">
      </view>
      <category
            id="com.sogeti.rental.ui.rentalcategory"
            name="Rental">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sogeti.rental.ui.RentalPerspective"
            icon="icons/Agency.png"
            id="com.sogeti.rental.ui.RentalPerspective"
            name="Rental">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sogeti.rental.ui.RentalPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.sogeti.rental.ui.RentalPreferencesPage"
            id="com.sogeti.rental.ui.rentalpreferencespage"
            name="RentalPreferencesPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.sogeti.rental.ui.helloworld"
            name="HelloWorld">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sogeti.rental.ui.HelloWorldHandler"
            commandId="com.sogeti.rental.ui.helloworld">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <command
               commandId="com.sogeti.rental.ui.helloworld"
               label="Hello World"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="com.sogeti.rental.ui.helloworld"
               label="Hello World"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.sogeti.rental.ui.rentaltreeview?after=additions">
         <command
               commandId="com.sogeti.rental.ui.helloworld"
               label="Hello World"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.sogeti.rental.ui.rentaltreeview?after=additions">
         <command
               commandId="com.sogeti.rental.ui.helloworld"
               icon="icons/Agency.png"
               label="Hello World"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.views.ResouceNavigator?after=additions">
         <command
               commandId="com.sogeti.rental.ui.helloworld"
               icon="icons/Agency.png"
               label="Hello World"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.views.ResouceNavigator?after=additions">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.sogeti.rental.ui.rentaltreeview?after=additions">
         <command
               commandId="com.sogeti.rental.ui.helloworld"
               label="Hello World"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.sogeti.rental.ui.rentaltreeview?after=additions">
      </menuContribution>
   </extension>

</plugin>
