<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.sogeti.rental.ui.RentalView"
            id="com.sogeti.rental.ui.rentalview"
            name="RentalView"
            restorable="true">
      </view>
   </extension>

</plugin>
